@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.card {
  border: none
}

.ellipsis {
  color: #a09c9c
}

hr {
  color: #aea9a9;
  margin-top: 4px;
  margin-bottom: 8px
}

.muted-color {
  color: #a09c9c;
  font-size: 13px
}

.ellipsis i {
  margin-top: 3px;
  cursor: pointer
}

.icons i {
  font-size: 25px
}

.icons .fa-heart {
  color: red
}

.icons .fa-smile-o {
  color: yellow;
  font-size: 29px
}

.name {
  font-weight: 600
}

.comment-text {
  font-size: 12px
}

.status small {
  margin-right: 10px;
  color: blue
}

.form-control {
  border-radius: 26px
}

.comment-input {
  position: relative
}

.fonts {
  position: absolute;
  right: 13px;
  top: 8px;
  color: #a09c9c
}

.form-control:focus {
  color: #000000;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none
}


.bdge {
height: 21px;
background-color: orange;
color: #fff;
font-size: 11px;
padding: 8px;
border-radius: 4px;
line-height: 3px;
}

.comments {
text-decoration: underline;
text-underline-position: under;
cursor: pointer;
}

.dot {
height: 7px;
width: 7px;
margin-top: 3px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
}

.hit-voting:hover {
color: blue;
}

.hit-voting {
cursor: pointer;
}