{% extends "layout.html" %}
{% load static %}

{% block title %}
Personas
{% endblock %}

{% block main %}    
<div class="container emp-profile">
    <div id="online-users">
        <div id="online-users-list" class="user-list"></div>
        {% for user in users %}
        <div class="user {% if user.is_active %}active{% else %}inactive{% endif %}">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}">
            {% endif %}
            <div class="user-info">
                <h3>{{ user.username }}</h3>
                <p>{{ user.biography }}</p>
            </div>
        </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}
