{% extends "layout.html" %}
{% load static %}

{% block title %}
Mi perfil
{% endblock %}

{% block main %}
<div class="container emp-profile">
    <div class="container">
        <div class="main-body">
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Sobre mi</li>
                </ol>
            </nav>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="Admin" class="" width="150">
                                {% else %}
                                {% if user.gender == 'male' %}
                                <img src="{% static 'images/user_male.webp' %}" alt="Admin" class="" width="150">
                                {% elif user.gender == 'female' %}
                                <img src="{% static 'images/user_female.png' %}" alt="Admin" class="" width="150">
                                {% else %}
                                <img src="{% static 'images/user_unknown.png' %}" alt="Admin" class="" width="150">
                                {% endif %}
                                {% endif %}

                                <div class="mt-3">
                                    <h4>{{user.first_name}} {{user.last_name}}</h4>
                                    <hr class="mt-3">
                                    <h4>{{user.biography}}</h4>
                                    <hr class="mt-3">                                    
                                    <a href="{% url 'foto' %}">
                                        <button class="btn btn-primary">Editar foto</button>
                                    </a>
                                    <a href="{% url 'logout' %}">
                                        <button class="btn btn-outline-primary">Cerrar Sesión</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.first_name}} {{user.last_name}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre de Usuario:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.username}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Correo electrónico:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.email}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ubicación:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.location}}
                                </div>
                            </div>
                            <hr>
                            <h1>Publicaciones: </h1>                
                        </div>
                    </div>
                    <div class="row gutters-sm">
                        {% for post in user.post_set.all %}
                        {% if post.image %}
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img src="{{ post.image.url }}" alt="Imagen de publicación" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}