{% extends "layout_login.html" %}

{% block title %}
    Registro
{% endblock %}

{% block form %}
<form class="login" method="post" action="{% url 'register' %}">                
    {% csrf_token %}
    <h3>Registro</h3>				
    <div class="form-group">
        <input type="text" name="first_name" placeholder="Nombre" class="form-control" autofocus>
        {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}                
        <input type="text" name="last_name" placeholder="Apellido" class="form-control">
        {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}				
    </div>
    <div class="form-wrapper">
        <input type="text" name="username" placeholder="Usuario" class="form-control">
        <i class="zmdi zmdi-account"></i>				
        {% if form.username.errors %}
        {% for error in form.username.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}						
    </div>
    <div class="form-wrapper">
        <input type="text" name="email" placeholder="Correo electrónico" class="form-control">
        <i class="zmdi zmdi-email"></i>
        {% if form.email.errors %}
        {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}					
    </div>
    <div class="form-wrapper">
        <select name="gender" id="" class="form-control">
            <option value="" disabled selected>Sexo</option>
            <option value="male">Masculino</option>
            <option value="female">Femenino</option>
            <option value="other">Prefiero no decir</option>
        </select>
        {% if form.gender.errors %}
        {% for error in form.gender.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}							
        <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
    </div>
    <div class="form-wrapper">
        <input type="text"  name="location" id="locationInput" class="form-control" placeholder="Ubicación" onclick="getLocation()">
        <span id="locationIcon"><i class="zmdi zmdi-pin-drop"></i></span>
        {% if form.location.errors %}
        {% for error in form.location.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}						
    </div>
    <div class="form-wrapper">
        <input type="password" name="password1" placeholder="Contraseña" class="form-control">
        <i name="location" class="zmdi zmdi-lock"></i>
        {% if form.password1.errors %}
        {% for error in form.password1.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}					
    </div>
    <div class="form-wrapper">
        <input type="password" name="password2" placeholder="Confirmar contraseña" class="form-control">
        <i class="zmdi zmdi-lock"></i>
        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}					
    </div>
    <button type="submit">Registrar
        <i class="zmdi zmdi-arrow-right"></i>
    </button>              
    <span class="redirect-link">¿Ya tienes una cuenta?<a href="{% url 'login' %}">Accede aquí</a></span>                    
</form>
{% endblock %}
